* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Rock Salt', cursive; */
}
ul,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* GLOBAL CSS HERE */
.primarBtn {
  display: inline-block;
  padding: 10px 30px;
  background: #0415aa;
  box-shadow: 0px 10px 40px -15px #0415aa;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #0415aa;
}
.primarBtn:hover {
  color: #fff;
  box-shadow: none;
}
.secondaryBtn {
  display: inline-block;
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #0415aa;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  color: #0415aa;
}
/* MAIN CSS HERE */
html {
  font-size: 100%;
}
body {
  font-size: 16px;
  color: #272727;
  font-family: "Poppins", sans-serif;
}
::placeholder {
  color: #828282;
}

header {
  border-bottom: 1px solid #b0b6f1;
}
.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.headerMenu .logo {
  height: 50px;
  width: auto;
}
.mainMenu {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.primaryMenu {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.primaryMenu li a {
  display: block;
  padding: 10px;
  color: #000639;
}
.dropdown_item {
  position: relative;
}
.megaMenu {
  position: absolute;
  right: calc(50% - 300px);
  margin: 0 auto;
  top: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 550px;
  height: auto;
  background: #ffffff;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  border-radius: 15px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.dropDown.active i {
  transform: rotate(-180deg);
}
.megaMenu.active {
  opacity: 1;
  visibility: visible;
}
.megaMenu::before {
  z-index: -1;
  position: absolute;
  top: -40px;
  background: #fff;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
}
.megaMenu li {
  text-align: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.megaMenu li a {
  text-align: inherit;
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 700;
  color: #0415aa;
  font-size: 18px;
}
.megaMenu li img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}
/* MAIN MENU BUTTONS */
.heroArea {
  padding: 50px 0;
}
.menu_btns {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.heroArea_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.hero_text {
  flex: 0 0 55%;
}
.hero_shape img {
  height: 100%;
  width: 100%;
}
.heroTitle {
  font-size: 44px;
  font-weight: 700;
  color: #000639;
  padding-bottom: 20px;
}
.heroTitle span {
  color: #0415aa;
}
.heroPragrap {
  padding-bottom: 30px;
}
/* MOBILE BAR */
.bars {
  display: none;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 35px;
  transition: 0.3s all ease-in;
}
.bars span {
  height: 3px;
  width: 35px;
  background: #000639;
  display: inline-block;
  position: absolute;
  transition: 0.2s all ease-in;
}
.bars span:nth-child(1) {
  top: 0;
}
.bars span:nth-child(2) {
  top: 7px;
}
.bars span:nth-child(3) {
  top: 14px;
}
.bars.active span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}
.bars.active span:nth-child(2) {
  top: 7px;
  opacity: 0;
  visibility: hidden;
}
.bars.active span:nth-child(3) {
  top: 7px;
  transform: rotate(-45deg);
}
/* *SECTION HEADING*/
.al_heading {
  padding-top: 30px;
}
.al_heading h3.subTitle {
  font-size: 22px;
  color: #0415aa;
  font-weight: 600;
  text-align: center;
}
.al_heading h1 {
  text-align: center;
  color: #000639;
  font-weight: 700;
  font-size: 42px;
  padding-bottom: 15px;
}
.al_heading p {
  text-align: center;
}
/*SECTION GRAH BAR*/
.al_grah_main_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 50px;
  margin-bottom: 30px;
}
.al_grah_main_area:nth-child(even) {
  flex-direction: row-reverse;
}
.al_grah_image {
  width: 100%;
  height: 100%;
}
.al_grah_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.al_grah_bar_content h1 {
  font-size: 32px;
  color: #000639;
  font-weight: 700;
  padding-bottom: 15px;
}
.al_grah_bar_content h1 span {
  color: #ed2f2f;
}
.al_grah_main_area:nth-child(even) .al_grah_bar_content h1 span {
  color: #0415aa;
}
.grah_list {
  padding-top: 30px;
}
.grah_list li p {
  color: #737485;
  margin-bottom: 10px;
}
.grah_list li p img {
  width: 20px;
  margin-right: 10px;
  height: auto;
}
.grah_pragrap {
  max-width: 95%;
}
/*SECTION PIE CHART*/
.al_pie_chart_main_area {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.al_grah_image .al_grah_shape {
  left: -30%;
  height: 100%;
}
.al_pie_chart_image .al_grah_shape {
  right: -30%;
  height: 100%;
}
.al_pie_chart_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*SECTION CHART*/
.al_category_section {
  padding: 70px 0;
}
.al_category_title h1 {
  text-align: center;
  padding-bottom: 10px;
  color: #000639;
  font-weight: 700;
  padding-bottom: 20px;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.al_category_main_card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}
.al_category_card {
  text-align: center;
  border-radius: 10px;
  padding: 50px 30px;
  background: #ffffff;
  box-shadow: 15px 15px 50px rgba(4, 21, 170, 0.16);
  border-radius: 10px;
}
.al_category_card h1 {
  color: #000639;
  font-size: 26px;
  font-weight: 700;
}
.al_category_card_image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background: #0415aa;
  text-align: center;
  line-height: 95px;
  margin-bottom: 20px;
}
.al_category_card_image img {
  width: 50px;
  height: auto;
  object-fit: cover;
}

/*SECTION IMAGE AND ICON*/
.image_icon_section {
  margin-bottom: 50px;
}
.image_icon_img {
  width: 100%;
  height: 100%;
}
.image_icon_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text_icon_main_area {
  box-shadow: 17px 0px 70px 8px #d9dcf2a8;
  border-radius: 10px;
  padding: 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.text_icon_title ul li {
  padding-bottom: 10px;
}
.text_icon_title ul li img {
  margin-right: 5px;
}
.text_icon_title h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #0415aa;
}

/*VIDEO SECTION*/

.al_video_image {
  width: 100%;
  height: 100%;
  position: relative;
}
.videoPlayBtn {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  background: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
}
.al_video_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.al_heading_section {
  padding-bottom: 40px;
  max-width: 750px;
  margin: 0 auto;
}
/* MOBILE BAR */
/* FOOTER CSS HERE */
footer {
  background: #0415aa;
}
.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 50px 0;
}
.footerPro_pragrap {
  color: #fff;
  padding: 40px 0;
}
.footer_socail {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.footer_socail li a {
  height: 38px;
  width: 38px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
.footer_socail ul {
  display: flex;
  align-items: center;
}
.footer_weiget_title {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0 30px 0;
  transition: 0.5s all ease;
}
.footer_weiget_title span {
  display: none;
}
.footer_weiget_item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.footer_weiget_item li a {
  color: #fff;
}
.footerCp {
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 20px 0;
}
.footerCp p {
  color: #fff;
}
/* HERO AREA */
.hero_slider {
  padding: 50px 0;
}
.hero_slider_header {
  padding-bottom: 50px;
}
.hero_slider_title {
  text-align: center;
  font-size: 42px;
  width: 60%;
  margin: 0 auto;
  font-weight: 700;
  color: rgba(0, 6, 57, 1);
}
.hero_slider_title span {
  color: #0415aa;
}
.hero_slider_items {
  padding: 50px;
  background: #ffffff;
  box-shadow: 20px 30px 100px rgba(0, 13, 125, 0.16);
  border-radius: 20px;
}
.hero_slider_single {
  text-align: center;
}
.hero_slider_single img {
  height: 45px;
  width: 45px !important;
  margin: 0 auto;
}
/* BLOG AREA */
.blog {
  background: #f5f6ff;
  padding: 70px 0;
}
.single_blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.single_blog_odd {
  flex-direction: row-reverse;
  margin: 40px 0;
}
.single_blog_text {
  flex: 0 0 50%;
}
.single_blog_shape img {
  height: 100%;
  width: 100%;
}
.blog_text_title {
  color: #000639;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  padding-bottom: 15px;
}
.single_blog_text {
  position: relative;
  padding-left: 60px;
}
.single_blog_text::before {
  position: absolute;
  left: 0;
  top: -20px;
  content: "1";
  font-size: 80px;
  font-weight: 600;
  color: #0415aa;
}
.single_blog:nth-child(2) .single_blog_text::before {
  content: "2";
}
.single_blog:nth-child(3) .single_blog_text::before {
  content: "3";
}
.single_blog:nth-child(4) .single_blog_text::before {
  content: "4";
}
.blog_pragrap {
  color: #737485;
  padding-bottom: 20px;
}
.blog_btn {
  font-weight: 500;
  color: #0415aa;
  font-size: 22px;
  border-bottom: 2px solid #0415aa;
}
/* OWL CAROUSEL CSS */
.hero_slider_items {
  position: relative;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
  /* position: absolute; */
  width: 100%;
}
.hero_slider_items .owl-nav button {
  position: absolute;
  background: #ffffff !important;
  box-shadow: 10px 10px 40px rgba(4, 21, 170, 0.3);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: calc(50% - 15px);
  opacity: 1;
}
.hero_slider_items .owl-nav button:hover,
.hero_slider_items .owl-nav button:focus {
  background: #0415aa !important;
  box-shadow: 10px 10px 40px rgba(4, 21, 170, 0.3) !important;
  color: #fff !important;
}
.hero_slider_items .owl-nav button span {
  font-size: 30px;
  font-family: inherit;
  line-height: 30px;
}
.hero_slider_items .owl-nav .owl-prev {
  left: -15px;
}
.hero_slider_items .owl-nav .owl-next {
  right: -15px;
}
