@media screen and (max-width: 991px) {
  .mobile_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerMenu {
    width: 100%;
    display: block;
  }
  .bars {
    display: block;
    margin-top: 15px;
  }
  .mainMenu {
    display: none;
  }
  .al_category_main_card {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .al_category_card h1 {
    font-size: 24px;
  }
  .blog_text_title {
    font-size: 28px;
  }
  .heroTitle,
  .hero_slider_title,
  .al_heading h1,
  .al_category_title h1 {
    font-size: 36px;
  }
  .text_icon_main_area {
    flex-direction: column;
  }
  .footer_weiget_title {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .heroArea_content {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .hero_text {
    text-align: center;
  }
  .hero_slider_title {
    width: 100%;
  }
  .al_grah_main_area {
    flex-direction: column;
  }
  .al_grah_main_area:nth-child(even) {
    flex-direction: column;
  }
  .single_blog {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer_content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center;
  }
  .text_icon_title {
    max-width: 450px;
    margin: 0 auto;
  }
  .blog_btn {
    font-size: 18px;
  }
  .footer_socail {
    justify-content: center;
  }
  .footer_content {
    column-gap: 15px;
  }
  .footer_weiget {
    position: relative;
  }
  .footer_weiget_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
  }
  .footer_weiget_title span {
    display: block;
  }
  .footer_weiget_item {
    position: absolute;
    height: 200px;
    width: 100%;
    background: #000;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    top: 45px;
    opacity: 0;
    visibility: hidden;
  }
  .footer_weiget_item.active {
    opacity: 1;
    visibility: visible;
  }
  .footer_weiget_title.active {
    height: 300px;
    align-items: flex-start;
  }
  .footer_weiget_title i {
    transition: 0.3s all ease;
  }
  .footer_weiget_title.active i {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 576px) {
  .al_category_main_card {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
