@media screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1199px) {
  .al_category_title h1,
  .blog_text_title,
  .al_heading h1,
  .hero_slider_title {
    font-size: 32px;
  }
  .heroTitle {
    font-size: 38px;
  }
  .blog_btn,
  .al_heading h3.subTitle {
    font-size: 18px;
  }
  .footer_weiget_title,
  .al_category_card h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .mobile_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerMenu {
    width: 100%;
    display: block;
  }
  .bars {
    display: block;
    margin-top: 15px;
  }
  .mainMenu {
    display: none;
  }
  .al_category_main_card {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .al_category_card h1 {
    font-size: 24px;
  }
  .blog_text_title {
    font-size: 28px;
  }
  .text_icon_main_area {
    flex-direction: column;
  }
  .footer_weiget_title {
    font-size: 22px;
  }
  .heroTitle {
    font-size: 32px;
  }
  .hero_slider_title {
    width: 75%;
  }
  .al_grah_bar_content h1 {
    font-size: 25px;
  }
  .text_icon_title {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .heroArea_content {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .hero_text {
    text-align: center;
  }
  .hero_slider_title {
    width: 100%;
  }
  .al_grah_main_area {
    flex-direction: column;
  }
  .al_grah_main_area:nth-child(even) {
    flex-direction: column;
  }
  .single_blog {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer_content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center;
  }
  .blog_btn {
    font-size: 18px;
  }
  .footer_socail {
    justify-content: center;
  }
  .footer_content {
    column-gap: 15px;
  }
  .footer_weiget {
    position: relative;
  }
  .footer_weiget_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
  }
  .accordion {
    display: block;
  }
  .footer_weiget {
    display: none;
  }
  .footer_weiget_item li a {
    color: #fff;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .al_category_main_card {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .al_category_title h1,
  .blog_text_title,
  .al_heading h1,
  .hero_slider_title,
  .hero_slider_title {
    font-size: 28px;
  }
}
